# Location where you want the config files to be stored locally
# Ensure that the path does not have a trailing slash
LOCAL_LOCATION=/wherever/you/want/kanboard

# Define what user should run this
# Obtain the details by running `id {username of user you want to use}`
PUID=1000
PGID=1000

LOCAL_TIME_ZONE=Australia/Brisbane
