# Location where you want the config files to be stored locally
DATA_DIR=/wherever/you/have/data
CONFIG_DIR = /wherever/you/have/config

# Define what user should run this
# Obtain the details by running `id {username of user you want to use}`
UID=1000
GID=1000

LOCAL_TIME_ZONE=Australia/Brisbane
