# Location where you want the config files to be stored locally
LOCAL_LOCATION=/wherever/you/want/bookstack

# Define what user should run this
# Obtain the details by running `id {username of user you want to use}`
PUID=1000
PGID=1000

DB_PASS=SomeSecurePasswordThatYouCanThinkOf

APP_URL=http://192.168.1.1:6875

LOCAL_TIME_ZONE=Australia/Brisbane