# Location where you want the config files to be stored locally
LOCAL_LOCATION=/wherever/you/want/taskmd

# Define what user should run this
# Obtain the details by running `id {username of user you want to use}`
PUID=1000
PGID=1000
