# Location where you want the config files to be stored locally
# Do not have a trailing slash at the end of the path
LOCAL_LOCATION=/wherever/you/want/wikijs

# Define what user should run this
# Obtain the details by running `id {username of user you want to use}`
PUID=1000
PGID=1000

LOCAL_TIME_ZONE=Australia/Brisbane
